extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina

                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint ut et excepturi architecto necessitatibus ipsum qui nostrum molestiae temporibus. Dolores at veniam voluptatibus ab ducimus, ratione ea in maxime commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias similique perferendis debitis pariatur itaque doloribus nisi quaerat quis expedita maxime? Dolorem perferendis deserunt, rerum vitae provident in accusantium rem saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro suscipit qui molestias laboriosam nisi, laudantium, nihil nostrum reiciendis accusamus nesciunt sunt. Doloribus tenetur neque beatae dignissimos modi mollitia provident aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.  tempora! Ipsam, doloremque.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptatibus nam quae iste et ullam praesentium dolores modi, cum architecto 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Excelentes Destinos
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptatibus nam quae iste et ullam praesentium dolores modi, cum architecto 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 los Mejores Precios
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptatibus nam quae iste et ullam praesentium dolores modi, cum architecto 